*{
    margin: 0%;
    padding: 0%;
}

section{
    padding: 100px 200px 100px 200px;
}

.heading{
    display: flex;
    justify-content: center;

}

.heading h1{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    font-size: 30px;
}

.icon-box{
    padding: 0px 50px 0px 50px;
}

.line1{
    display: flex;
    justify-content: space-between;
    align-content: row;

    margin-top: 100px;
}

.para1{
    display: flex;
    justify-content: space-between;
    align-content: row;

    margin-top: 30px;
    font-family: 'Ubuntu', sans-serif;

}


.line2{
    display: flex;
    justify-content: space-between;
    align-content: row;

    margin-top: 100px;
}